body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #c2c2c2;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    color: rgb(27, 27, 27);
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-toggle:hover {
    transform: rotate(90deg); /* Rotate 90 degrees */
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    margin: 10x 0 20px 0;
    display: flex;
    margin-left: auto;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative; /* Ensure the pseudo-element is positioned relative to the link */
    transition: letter-spacing 0.3s ease-in-out; /* Add transition for letter-spacing */
}

.nav-menu li a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #fff;
    box-shadow: 1px 1px 1px #000;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out; /* Adjusted transition for smoother animation */
}

.nav-menu li a:hover {
    font-weight: 900;
    letter-spacing: 1px;
}

.nav-menu li a:hover::before{
    transform: scaleX(1);
}

footer {
    background-color: #ffffff;
    color: rgb(90, 90, 90);
    text-align: center;
    padding: 2px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .nav-menu li {
        margin: 0;
        text-align: center;
        flex: 1;
    }

    .nav-menu.show {
        display: flex;
    }
}


.home-container {
    background-image: url("https://raw.githubusercontent.com/caiettia/personal-site-work/refs/heads/main/img/header.jpg");
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(19, 19, 19); /* Optional: Set text color for better visibility */
    text-align: center; /* Optional: Center the text */
    padding: 10px 20px; /* Reduce top padding to move content up */
}

.home-title {
    font-size: 4em; /* Set font size for the title */
    font-weight: 900; /* Make the title bold */
    margin-top: 0; /* Reduce or remove the top margin */
    margin-bottom: 20px; /* Add space below the title */
    position: relative; /* Use relative positioning */
    top: -100px; /* Move the title up by 10px */
    user-select: none; /* Prevent text selection */
}

.home-description {
    font-size: 1.5em; /* Set font size for the description */
    margin-bottom: 10px; /* Add space below the description */
    font-weight: 600; /* Set font weight for the description */
    position: relative; /* Use relative positioning */
    top: -100px; /* Move the description up by 100px */
    user-select: none; /* Prevent text selection */
}


/* Slide transition styles */
/* @keyframes onLoad {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  } */
@keyframes onLoad {
    0% {
        transform: translate3d(0, 30%, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0%, 0);
        opacity: 1;
    }
}

.page {  
    animation-duration: 1s; /* the duration of the animation */
    animation-timing-function: cubic-bezier(.26,1.15,0.96,1); /* how the animation will behave */
    animation-delay: 0s; /* how long to delay the animation from starting */
    animation-iteration-count: 1; /* how many times the animation will play */
    animation-name: onLoad; /* the name of the animation we defined above */
    padding: 0px;
}